.home {
  display: grid;

  width: 70%;
  margin: var(--distancer) auto;

  grid-column-gap: var(--distancer);
  grid-row-gap: var(--distancer);
  grid-template-columns: 1fr 1fr;
}

.cell {
  padding: calc(var(--distancer) / 2);

  color: var(--color-white);
  border-radius: var(--border-radius);
  background: var(--color-primary);
}
